# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv
venv/
ENV/

# Data and Secret
data/temp/
data/raw/
data/books_backup_*.db
data/books_pre_migration_*.db

# OS files
.DS_Store

# Large model files (optional if using Git LFS)
# data/embeddings.pkl


